body {
    background-image: url("background.webp");
    color: white;
}

.proposition {
    margin: 5px 5px;
}

.search-result {
    background-color: rgba(128, 128, 128, 0.71);
}

.musicCached {
    border: 2px solid black;
}

.notification {
    background-color : lightgrey;
}

.downloadList {
    background-color: rgba(128, 128, 128, 0.71);
}

.underlinedTitle {
}

#keywords {
    text-align: center;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #2f2f2f;
    color: whitesmoke;
    font-weight: bold;
}

#keywords::placeholder {
    color: whitesmoke;
    font-weight: bold;
}

#submitButton {
    width: 20%;
}