body {
    background-color: rgba(0, 84, 255, 0.73);
}

.proposition {
    border : 1px solid rgba(128, 128, 128, 0.53);
    margin: 5px 5px;
}

.notification {
    background-color : lightgrey;
}

.downloadList {
    border-left: 2px dashed darkblue;
}

.underlinedTitle {
    border-bottom: 2px dashed darkblue;
}

#keywords {
    text-align: center;
}

#submitButton {
    width: 20%;
}